body {
  font-family: Helvetica, Arial, sans-serif;
}

em {
  background: yellow;
  font-style: normal;
}

.header {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(to right, #E62B1E, #FFFFFF);
  color: #fff;
  margin-bottom: 1rem;
}

.header h1 {
  font-family: Arial Black;
}

.header-subtitle {
  margin-left: 30px;
  margin-top: 30px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.search-panel {
  display: flex;
}

.search-panel__filters {
  flex: 1;
}

.search-panel__results {
  flex: 3;
}

.searchbox {
  margin-bottom: 2rem;
}

.pagination {
  margin: 2rem auto;
  text-align: center;
}

.hit-name {
  font-size: 2rem;
}

.header-name {
  font-weight: bold;
}
